* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffc300;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btSalvar {
  color: white;
  background-color: #5312b3;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: solid 1px white;

  color: white;

  border-radius: 5px;
  background: linear-gradient(145deg, #5913c0, #4b10a1);
  /* box-shadow:  26px 26px 53px #470f98,
             -26px -26px 53px #5f15ce; */
}

input[type="checkbox"] {
  display: none;
}
